:root {
  /* colors */
  --color-primary: #1992d4;
  --color-accent: #f0b429;
  --color-bg: #e2e8f0;
  --color-font-dark: #000000;
  --color-font-light: #ffffff;
  --color-font-grey: #7c7c7c;

  /* Fonts */
  --ff-primary: "Roboto", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Global */
* {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */
body {
  width: 100vw;
  height: 100vh;
}

/* Main Container */
.main-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  grid-template-columns: 20em 4fr;
  grid-template-rows: 11em 4fr;
  font-family: var(--ff-primary);
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  min-height: 100vh;
  padding: 2em;
  background-color: var(--color-primary);
  color: var(--color-font-light);
  font-weight: var(--fw-bold);
}

.logo {
  display: grid;
  gap: 0.5em;
  margin-bottom: 2em;
  grid-template-columns: minmax(70px, auto) 1fr;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.main-links {
  margin-bottom: 5em;
}

.main-links li,
.secondary-links li {
  display: grid;
  gap: 0.6em;
  margin-bottom: 1em;
  grid-template-columns: minmax(70px, auto) 1fr;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  border: 2px solid transparent;
}

.sb-img {
  height: 40px;
  transition: ease-out 0.3s;
}

.dashboard-img {
  height: 70px;
}

/* Sidebar psuedo effects */
.logo:hover,
.main-links li:hover,
.secondary-links li:hover {
  text-decoration: underline;
}

.logo img:hover,
.main-links img:hover,
.secondary-links img:hover {
  transform: scale(1.2);
}

/* Header */

.header {
  grid-area: header;
  display: grid;
  align-items: center;
  grid-template-areas:
    "search user-nav"
    "user-info header-buttons";
  grid-template-columns: 2fr 1fr;
  padding-left: 36px;
  padding-top: 16px;
  padding-right: 16px;
}

.search {
  grid-area: search;
  display: grid;
  align-content: center;
  grid-template-columns: 70px 1fr;
}

.search img,
.user-nav img {
  height: 40px;
}

.search input {
  border-radius: 50px;
  border: 2px solid transparent;
  background-color: var(--color-bg);
  font-size: 1.5em;
  text-indent: 0.5em;
}

.user-nav {
  grid-area: user-nav;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: var(--fw-medium);
}

.user-info {
  grid-area: user-info;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 0.4em;
  align-items: center;
  font-size: 2em;
  font-weight: var(--fw-medium);
  line-height: 1.3em;
}

.user-info img {
  height: 120px;
}

.greeting h4 {
  font-size: 0.75em;
}

.header-buttons {
  grid-area: header-buttons;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.header-buttons button {
  width: 5em;
  padding: 0.75em 0;
  border-radius: 50px;
  border-style: none;
  background-color: var(--color-primary);
  color: var(--color-font-light);
  font-size: 1.3em;
  font-weight: var(--fw-bold);
}

/* Header Pseudo Elements */

.search img:hover,
.user-nav img:hover,
.user-nav p:hover,
.header-buttons button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.search input:focus {
  outline: 2px solid var(--color-primary);
}

/* Main Content */

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-areas: "projects announcements";
  grid-template-columns: 3fr 1fr;
  padding: 1em 1em;
  background-color: var(--color-bg);
  gap: 1em;
}

/* Projects */

.projects {
  display: grid;
  grid-template-areas:
    "project-title project-title"
    "card card"
    "card card"
    "card card";
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: 25px repeat(3, 253px);
  gap: 1em;
}

.project-title {
  font-size: 1.5em;
  font-weight: var(--fw-medium);
  grid-area: project-title;
}

.card {
  display: grid;
  background-color: var(--color-font-light);
  border-radius: 0.5em;
  padding: 1.5em;
  gap: 0.5em;
  border: 2px solid transparent;
  border-left: 0.5em solid var(--color-accent);
}

.card h2 {
  font-size: 1.2em;
  font-weight: var(--fw-medium);
}

.card-buttons {
  justify-self: right;
}

.card-buttons button {
  background-color: transparent;
  border: none;
}

/* Project Pseudo Elements */

.card-buttons button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover {
  border-top: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  cursor: pointer;
}

/* Announcements */

.announcements {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: announcements;
}

.announcements-title {
  font-size: 1.5em;
  font-weight: var(--fw-medium);
  padding-bottom: 1px;
}

.announcement-title {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  font-weight: var(--fw-medium);
}

.announcement {
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: var(--color-font-light);
  height: 125px;
  border: 2px solid transparent;
}

.text-ellipsis--3 {
  text-overflow: ellipsis;
  overflow: hidden;
  /* Addition lines for 2 line or multiline ellipsis */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* Trending Pseudo Elements */

.announcement:hover {
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

/* Trending */

.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trending-title {
  font-size: 1.5em;
  font-weight: var(--fw-medium);
}

.trending-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: var(--color-font-light);
  border-radius: 0.5em;
  padding: 0.5em;
  border: 2px solid transparent;
}

.trending-profile h4 {
  font-weight: var(--fw-medium);
  padding-bottom: 0.5em;
}

.trending-profile p {
  color: var(--color-font-grey);
}

.trending-project img {
  height: 50px;
  width: 50px;
}

/* Trending Pseudo Elements */

.trending-project:hover {
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

/* Misc */

article img {
  height: 25px;
}

img,
svg {
  width: 100%;
}

a {
  all: unset;
}
