:root {
  /* colors */
  --color-primary: #1992d4;
  --color-accent: #f0b429;
  --color-bg: #e2e8f0;
  --color-font-dark: #000000;
  --color-font-light: #ffffff;

  /* Fonts */
  --ff-primary: "Roboto", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Global */
* {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */
body {
  width: 100vw;
  height: 100vh;
}

/* Main Container */
.main-container {
  display: grid;

  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  grid-template-columns: 20em auto;
  grid-template-rows: 1fr 4fr;
  font-family: var(--ff-primary);
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  min-height: 100vh;
  padding: 2em;
  background-color: var(--color-primary);
  color: var(--color-font-light);
  font-weight: var(--fw-bold);
  z-index: 1;
}

.logo {
  display: grid;
  gap: 0.5em;
  margin-bottom: 2em;
  grid-template-columns: minmax(70px, auto) 1fr;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.main-links {
  margin-bottom: 5em;
}

.main-links li,
.secondary-links li {
  display: grid;
  gap: 0.6em;
  margin-bottom: 1em;
  grid-template-columns: minmax(70px, auto) 1fr;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  border: 2px solid transparent;
}

.sb-img {
  height: 40px;
  transition: ease-out 0.3s;
}

.dashboard-img {
  height: 70px;
}

/* Sidebar psuedo effects */
.logo:hover,
.main-links li:hover,
.secondary-links li:hover {
  text-decoration: underline;
}
.logo img:hover,
.main-links img:hover,
.secondary-links img:hover {
  transform: scale(1.2);
}

/* Header */

.header {
  grid-area: header;
  display: grid;
  align-items: center;
  grid-template-areas:
    "search user-nav"
    "user-info header-buttons";
  grid-template-columns: 2fr 1fr;
  padding-left: 36px;
  padding-top: 16px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.43);
}

.search {
  grid-area: search;
  display: grid;
  align-content: center;
  grid-template-columns: 70px 1fr;
}

.search img,
.user-nav img {
  height: 40px;
}

.search input {
  border-radius: 50px;
  border: 2px solid transparent;
  background-color: var(--color-bg);
  font-size: 1.5em;
  text-indent: 0.5em;
}

.user-nav {
  grid-area: user-nav;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: var(--fw-medium);
}

.user-info {
  grid-area: user-info;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 0.4em;
  align-items: center;
  font-size: 2em;
  font-weight: var(--fw-medium);
  line-height: 1.3em;
}

.user-info img {
  height: 120px;
}

.greeting h4 {
  font-size: 0.75em;
}

.header-buttons {
  grid-area: header-buttons;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.header-buttons button {
  width: 6em;
  padding: 1em 0;
  border-radius: 50px;
  border-style: none;
  background-color: var(--color-primary);
  color: var(--color-font-light);
  font-size: 1.3em;
  font-weight: var(--fw-bold);
}

/* Header Pseudo Elements */
.search img:hover,
.user-nav img:hover,
.user-nav p:hover,
.header-buttons button:hover {
  transform: scale(1.1);
}

.search input:focus {
  outline: 2px solid var(--color-primary);
}

/* Main Content */

.main-content {
  grid-area: main-content;
  background-color: var(--color-bg);
  z-index: -1;
}

/* Misc */
img,
svg {
  width: 100%;
}

a {
  all: unset;
}
